In [3]:
import pandas as pd
import glob
import os
from pathlib import Path

In [4]:
from google.colab import drive
drive.mount('/content/gdrive/')

import sys
sys.path.append('/content/gdrive/MyDrive/Colab Notebooks')

Mounted at /content/gdrive/

In [5]:
# csv_files = glob.glob(os.path.join(path,"/*.csv"))
path = r'/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/csv/'
csv_files = Path(path).glob('*.csv')
# print(next(csv_files))
pd.read_csv(next(csv_files))

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,18-11-1999,28.612303,32.546494,62546380,35.765381,31.473534,26.929762
1,19-11-1999,28.478184,30.713518,15234146,30.758226,28.880545,24.711119
2,22-11-1999,28.657009,29.551144,6577870,31.473534,31.473534,26.929762
3,23-11-1999,28.612303,30.400572,5975611,31.205294,28.612303,24.481607
4,24-11-1999,28.612303,28.701717,4843231,29.998213,29.372318,25.131897
...,...,...,...,...,...,...,...
5765,18-10-2022,131.199997,133.919998,1038100,134.679993,132.300003,132.300003
5766,19-10-2022,127.239998,130.110001,1034000,130.270004,128.960007,128.960007
5767,20-10-2022,125.610001,127.830002,1897200,129.740005,125.940002,125.940002
5768,21-10-2022,124.820000,126.370003,1067000,130.130005,129.880005,129.880005
5769,24-10-2022,129.839996,131.130005,326058,132.785004,132.375000,132.375000

In [6]:
csv_files = Path(path).glob('*.csv')
l = []
gr = pd.DataFrame()

for i in csv_files:
  df = pd.read_csv(i)
  # df2 = df.loc[(df["Date"] >= '2017-01-01')]
  df['Date'] = pd.to_datetime(df['Date'])
  df2 = df[(df['Date'] > "2017-01-01")]
  df2 = df2[["Date","Close"]]
  name = os.path.splitext(i)[0]
  df2.rename(columns= {"Close":name[53:]}, inplace= True)
  df2.set_index('Date', inplace = True)
  l.append(df2)
l

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

[                     A
 Date
 2017-03-01   46.490002
 2017-04-01   47.099998
 2017-05-01   46.540001
 2017-06-01   47.990002
 2017-09-01   48.139999
 ...                ...
 2022-10-18  132.300003
 2022-10-19  128.960007
 2022-10-20  125.940002
 2022-10-21  129.880005
 2022-10-24  132.375000

 [1463 rows x 1 columns],                   AAPL
 Date
 2017-03-01   29.037500
 2017-04-01   29.004999
 2017-05-01   29.152500
 2017-06-01   29.477501
 2017-09-01   29.747499
 ...                ...
 2022-10-18  143.750000
 2022-10-19  143.860001
 2022-10-20  143.389999
 2022-10-21  147.270004
 2022-10-24  148.455002

 [1463 rows x 1 columns],                    AAP
 Date
 2017-03-01  170.600006
 2017-04-01  172.000000
 2017-05-01  171.880005
 2017-06-01  169.630005
 2017-09-01  169.529999
 ...                ...
 2022-10-18  174.729996
 2022-10-19  171.250000
 2022-10-20  170.279999
 2022-10-21  171.339996
 2022-10-24  174.690002

 [1463 rows x 1 columns],                   AAL
 Date
 2017-03-01  46.299999
 2017-04-01  46.700001
 2017-05-01  45.889999
 2017-06-01  46.209999
 2017-09-01  47.080002
 ...               ...
 2022-10-18  13.700000
 2022-10-19  13.990000
 2022-10-20  13.460000
 2022-10-21  13.710000
 2022-10-24  13.932500

 [1463 rows x 1 columns],                    AME
 Date
 2017-03-01   49.220001
 2017-04-01   49.810001
 2017-05-01   49.180000
 2017-06-01   50.070000
 2017-09-01   49.630001
 ...                ...
 2022-10-18  119.120003
 2022-10-19  117.989998
 2022-10-20  115.099998
 2022-10-21  119.180000
 2022-10-24  120.199997

 [1463 rows x 1 columns],                  AKAM
 Date
 2017-03-01  67.570000
 2017-04-01  68.330002
 2017-05-01  69.550003
 2017-06-01  69.790001
 2017-09-01  70.000000
 ...               ...
 2022-10-18  84.379997
 2022-10-19  82.940002
 2022-10-20  84.160004
 2022-10-21  85.879997
 2022-10-24  86.279999

 [1463 rows x 1 columns],                   ADM
 Date
 2017-03-01  46.189999
 2017-04-01  46.110001
 2017-05-01  45.770000
 2017-06-01  44.720001
 2017-09-01  44.750000
 ...               ...
 2022-10-18  87.769997
 2022-10-19  88.349998
 2022-10-20  88.330002
 2022-10-21  89.690002
 2022-10-24  89.912498

 [1463 rows x 1 columns],                    ABT
 Date
 2017-03-01   39.049999
 2017-04-01   39.360001
 2017-05-01   39.700001
 2017-06-01   40.779999
 2017-09-01   40.740002
 ...                ...
 2022-10-18  104.980003
 2022-10-19   98.110001
 2022-10-20   95.209999
 2022-10-21   95.059998
 2022-10-24   97.419998

 [1463 rows x 1 columns],                   APH
 Date
 2017-03-01  33.715000
 2017-04-01  33.965000
 2017-05-01  33.785000
 2017-06-01  34.040001
 2017-09-01  33.689999
 ...               ...
 2022-10-18  70.070000
 2022-10-19  70.089996
 2022-10-20  69.139999
 2022-10-21  71.550003
 2022-10-24  71.849998

 [1463 rows x 1 columns],                   ABBV
 Date
 2017-03-01   62.410000
 2017-04-01   63.290001
 2017-05-01   63.770000
 2017-06-01   63.790001
 2017-09-01   64.209999
 ...                ...
 2022-10-18  144.600006
 2022-10-19  143.130005
 2022-10-20  142.929993
 2022-10-21  147.059998
 2022-10-24  150.990005

 [1463 rows x 1 columns],                   AMD
 Date
 2017-03-01  11.430000
 2017-04-01  11.430000
 2017-05-01  11.240000
 2017-06-01  11.320000
 2017-09-01  11.490000
 ...               ...
 2022-10-18  57.919998
 2022-10-19  57.230000
 2022-10-20  57.770000
 2022-10-21  58.820000
 2022-10-24  58.630001

 [1463 rows x 1 columns],                    ABC
 Date
 2017-03-01   82.610001
 2017-04-01   84.660004
 2017-05-01   83.680000
 2017-06-01   84.800003
 2017-09-01   85.480003
 ...                ...
 2022-10-18  143.990005
 2022-10-19  142.990005
 2022-10-20  142.770004
 2022-10-21  147.729996
 2022-10-24  150.000000

 [1463 rows x 1 columns],                   ALK
 Date
 2017-03-01  88.000000
 2017-04-01  89.180000
 2017-05-01  87.760002
 2017-06-01  86.980003
 2017-09-01  87.470001
 ...               ...
 2022-10-18  42.340000
 2022-10-19  41.849998
 2022-10-20  39.880001
 2022-10-21  41.009998
 2022-10-24  42.490002

 [1463 rows x 1 columns],                   ADSK
 Date
 2017-03-01   76.180000
 2017-04-01   77.519997
 2017-05-01   76.930000
 2017-06-01   79.300003
 2017-09-01   79.589996
 ...                ...
 2022-10-18  200.699997
 2022-10-19  197.020004
 2022-10-20  197.830002
 2022-10-21  201.389999
 2022-10-24  204.369995

 [1463 rows x 1 columns],                    ADP
 Date
 2017-03-01  103.500000
 2017-04-01  103.660004
 2017-05-01  103.040001
 2017-06-01  103.110001
 2017-09-01  102.470001
 ...                ...
 2022-10-18  235.020004
 2022-10-19  233.240005
 2022-10-20  229.479996
 2022-10-21  232.740005
 2022-10-24  236.649994

 [1463 rows x 1 columns],                   ABMD
 Date
 2017-03-01  112.360001
 2017-04-01  115.739998
 2017-05-01  114.809998
 2017-06-01  115.419998
 2017-09-01  117.110001
 ...                ...
 2022-10-18  259.170013
 2022-10-19  253.240005
 2022-10-20  252.509995
 2022-10-21  256.220001
 2022-10-24  260.450012

 [1463 rows x 1 columns],                   AMZN
 Date
 2017-03-01   37.683498
 2017-04-01   37.859001
 2017-05-01   39.022499
 2017-06-01   39.799500
 2017-09-01   39.846001
 ...                ...
 2022-10-18  116.360001
 2022-10-19  115.070000
 2022-10-20  115.250000
 2022-10-21  119.320000
 2022-10-24  119.089996

 [1463 rows x 1 columns],                    ADI
 Date
 2017-03-01   72.510002
 2017-04-01   72.360001
 2017-05-01   71.320000
 2017-06-01   71.599998
 2017-09-01   71.940002
 ...                ...
 2022-10-18  141.100006
 2022-10-19  141.330002
 2022-10-20  142.080002
 2022-10-21  146.589996
 2022-10-24  144.770004

 [1463 rows x 1 columns],                   AEE
 Date
 2017-03-01  52.380001
 2017-04-01  52.439999
 2017-05-01  52.700001
 2017-06-01  53.099998
 2017-09-01  51.990002
 ...               ...
 2022-10-18  79.360001
 2022-10-19  78.559998
 2022-10-20  76.620003
 2022-10-21  77.580002
 2022-10-24  77.760002

 [1463 rows x 1 columns],                    ALB
 Date
 2017-03-01   88.050003
 2017-04-01   90.699997
 2017-05-01   90.389999
 2017-06-01   90.809998
 2017-09-01   90.480003
 ...                ...
 2022-10-18  251.669998
 2022-10-19  256.510010
 2022-10-20  255.389999
 2022-10-21  270.010010
 2022-10-24  267.170013

 [1463 rows x 1 columns],                    AIZ
 Date
 2017-03-01   94.120003
 2017-04-01   95.089996
 2017-05-01   95.129997
 2017-06-01   95.980003
 2017-09-01   94.110001
 ...                ...
 2022-10-18  154.429993
 2022-10-19  151.990005
 2022-10-20  145.300003
 2022-10-21  146.910004
 2022-10-24  150.304993

 [1463 rows x 1 columns],                  ATVI
 Date
 2017-03-01  36.639999
 2017-04-01  37.360001
 2017-05-01  37.939999
 2017-06-01  37.910000
 2017-09-01  37.700001
 ...               ...
 2022-10-18  72.260002
 2022-10-19  72.209999
 2022-10-20  73.309998
 2022-10-21  72.709999
 2022-10-24  72.510002

 [1463 rows x 1 columns],                  ALTR
 Date
 2017-01-11  18.309999
 2017-02-11  17.410000
 2017-03-11  19.370001
 2017-06-11  18.969999
 2017-07-11  19.510000
 ...               ...
 2022-10-18  46.029999
 2022-10-19  45.400002
 2022-10-20  44.919998
 2022-10-21  45.759998
 2022-10-24  46.029999

 [1253 rows x 1 columns],                   AEP
 Date
 2017-03-01  62.759998
 2017-04-01  62.849998
 2017-05-01  63.189999
 2017-06-01  63.139999
 2017-09-01  62.310001
 ...               ...
 2022-10-18  86.580002
 2022-10-19  85.900002
 2022-10-20  83.930000
 2022-10-21  85.629997
 2022-10-24  85.800003

 [1463 rows x 1 columns],                   APA
 Date
 2017-03-01  63.779999
 2017-04-01  63.590000
 2017-05-01  63.250000
 2017-06-01  63.119999
 2017-09-01  62.360001
 ...               ...
 2022-10-18  39.820000
 2022-10-19  41.910000
 2022-10-20  41.509998
 2022-10-21  43.189999
 2022-10-24  43.965000

 [1463 rows x 1 columns],                    AMP
 Date
 2017-03-01  111.849998
 2017-04-01  115.199997
 2017-05-01  113.739998
 2017-06-01  115.660004
 2017-09-01  115.199997
 ...                ...
 2022-10-18  268.510010
 2022-10-19  264.299988
 2022-10-20  257.839996
 2022-10-21  267.010010
 2022-10-24  272.000000

 [1463 rows x 1 columns],                   AOS
 Date
 2017-03-01  47.500000
 2017-04-01  47.919998
 2017-05-01  47.700001
 2017-06-01  47.720001
 2017-09-01  47.400002
 ...               ...
 2022-10-18  51.759998
 2022-10-19  50.770000
 2022-10-20  48.759998
 2022-10-21  50.130001
 2022-10-24  50.500000

 [1463 rows x 1 columns],                    ACN
 Date
 2017-03-01  116.459999
 2017-04-01  116.739998
 2017-05-01  114.989998
 2017-06-01  116.300003
 2017-09-01  115.000000
 ...                ...
 2022-10-18  264.049988
 2022-10-19  264.059998
 2022-10-20  261.779999
 2022-10-21  269.570007
 2022-10-24  274.049988

 [1463 rows x 1 columns],                  AMAT
 Date
 2017-03-01  31.940001
 2017-04-01  32.240002
 2017-05-01  32.099998
 2017-06-01  32.040001
 2017-09-01  32.779999
 ...               ...
 2022-10-18  75.230003
 2022-10-19  77.260002
 2022-10-20  78.660004
 2022-10-21  82.419998
 2022-10-24  83.849998

 [1463 rows x 1 columns],                   ALGN
 Date
 2017-03-01   96.959999
 2017-04-01   97.769997
 2017-05-01   94.820000
 2017-06-01   94.080002
 2017-09-01   94.790001
 ...                ...
 2022-10-18  210.000000
 2022-10-19  204.979996
 2022-10-20  198.279999
 2022-10-21  207.669998
 2022-10-24  208.350006

 [1463 rows x 1 columns],                    AMT
 Date
 2017-03-01  106.150002
 2017-04-01  106.339996
 2017-05-01  105.970001
 2017-06-01  105.269997
 2017-09-01  105.019997
 ...                ...
 2022-10-18  197.220001
 2022-10-19  190.990005
 2022-10-20  188.000000
 2022-10-21  187.559998
 2022-10-24  187.000000

 [1463 rows x 1 columns],                   ANET
 Date
 2017-03-01   24.264999
 2017-04-01   25.432501
 2017-05-01   25.485001
 2017-06-01   25.320000
 2017-09-01   24.879999
 ...                ...
 2022-10-18  106.279999
 2022-10-19  105.110001
 2022-10-20  105.639999
 2022-10-21  110.519997
 2022-10-24  110.254997

 [1463 rows x 1 columns],                    AJG
 Date
 2017-03-01   52.240002
 2017-04-01   52.900002
 2017-05-01   53.020000
 2017-06-01   53.139999
 2017-09-01   52.400002
 ...                ...
 2022-10-18  176.139999
 2022-10-19  178.050003
 2022-10-20  173.820007
 2022-10-21  175.369995
 2022-10-24  178.360001

 [1463 rows x 1 columns],                   AMGN
 Date
 2017-03-01  150.729996
 2017-04-01  152.869995
 2017-05-01  152.979996
 2017-06-01  156.779999
 2017-09-01  158.839996
 ...                ...
 2022-10-18  252.119995
 2022-10-19  248.190002
 2022-10-20  247.449997
 2022-10-21  251.940002
 2022-10-24  259.119995

 [1463 rows x 1 columns],                    ARE
 Date
 2017-03-01  110.580002
 2017-04-01  113.379997
 2017-05-01  112.970001
 2017-06-01  112.209999
 2017-09-01  111.050003
 ...                ...
 2022-10-18  133.759995
 2022-10-19  130.589996
 2022-10-20  129.240005
 2022-10-21  132.050003
 2022-10-24  132.384995

 [1463 rows x 1 columns],                    APD
 Date
 2017-03-01  143.399994
 2017-04-01  144.649994
 2017-05-01  143.220001
 2017-06-01  144.360001
 2017-09-01  146.309998
 ...                ...
 2022-10-18  242.369995
 2022-10-19  241.449997
 2022-10-20  238.320007
 2022-10-21  241.289993
 2022-10-24  243.892502

 [1463 rows x 1 columns],                  ALLE
 Date
 2017-03-01  64.699997
 2017-04-01  65.930000
 2017-05-01  66.290001
 2017-06-01  65.889999
 2017-09-01  65.419998
 ...               ...
 2022-10-18  95.180000
 2022-10-19  92.110001
 2022-10-20  89.800003
 2022-10-21  92.790001
 2022-10-24  94.620003

 [1463 rows x 1 columns],                    AON
 Date
 2017-03-01  112.080002
 2017-04-01  113.309998
 2017-05-01  113.480003
 2017-06-01  114.349998
 2017-09-01  113.400002
 ...                ...
 2022-10-18  280.329987
 2022-10-19  280.929993
 2022-10-20  273.720001
 2022-10-21  280.119995
 2022-10-24  283.489990

 [1463 rows x 1 columns],                     C
 Date
 2017-03-01  60.590000
 2017-04-01  61.410000
 2017-05-01  60.340000
 2017-06-01  60.549999
 2017-09-01  60.220001
 ...               ...
 2022-10-18  44.150002
 2022-10-19  43.340000
 2022-10-20  42.919998
 2022-10-21  44.259998
 2022-10-24  44.270000

 [1463 rows x 1 columns],                    BDX
 Date
 2017-03-01  161.121948
 2017-04-01  160.917068
 2017-05-01  160.780487
 2017-06-01  163.795120
 2017-09-01  164.751221
 ...                ...
 2022-10-18  230.630005
 2022-10-19  225.470001
 2022-10-20  222.580002
 2022-10-21  223.600006
 2022-10-24  225.119995

 [1463 rows x 1 columns],                  BF-A
 Date
 2017-03-01  27.764004
 2017-04-01  28.032860
 2017-05-01  27.967140
 2017-06-01  27.787901
 2017-09-01  27.662436
 ...               ...
 2022-10-18  66.949997
 2022-10-19  65.550003
 2022-10-20  64.300003
 2022-10-21  64.639999
 2022-10-24  65.110001

 [1463 rows x 1 columns],                   BWA
 Date
 2017-03-01  40.070000
 2017-04-01  40.820000
 2017-05-01  40.770000
 2017-06-01  41.099998
 2017-09-01  40.820000
 ...               ...
 2022-10-18  34.110001
 2022-10-19  34.070000
 2022-10-20  33.770000
 2022-10-21  34.540001
 2022-10-24  35.820000

 [1463 rows x 1 columns],                    BIO
 Date
 2017-03-01  182.910004
 2017-04-01  185.320007
 2017-05-01  185.929993
 2017-06-01  187.509995
 2017-09-01  188.380005
 ...                ...
 2022-10-18  406.690002
 2022-10-19  385.230011
 2022-10-20  375.799988
 2022-10-21  378.209991
 2022-10-24  378.075012

 [1463 rows x 1 columns],                     AZO
 Date
 2017-03-01   791.460022
 2017-04-01   793.039978
 2017-05-01   792.000000
 2017-06-01   792.909973
 2017-09-01   790.340027
 ...                 ...
 2022-10-18  2306.860107
 2022-10-19  2289.800049
 2022-10-20  2258.830078
 2022-10-21  2301.030029
 2022-10-24  2389.879883

 [1463 rows x 1 columns],                   BIIB
 Date
 2017-03-01  291.709991
 2017-04-01  294.049988
 2017-05-01  293.570007
 2017-06-01  295.000000
 2017-09-01  299.019989
 ...                ...
 2022-10-18  270.279999
 2022-10-19  264.450012
 2022-10-20  262.649994
 2022-10-21  267.619995
 2022-10-24  273.790009

 [1463 rows x 1 columns],                   BBY
 Date
 2017-03-01  42.759998
 2017-04-01  43.770000
 2017-05-01  42.639999
 2017-06-01  42.770000
 2017-09-01  43.340000
 ...               ...
 2022-10-18  66.559998
 2022-10-19  63.740002
 2022-10-20  62.849998
 2022-10-21  63.770000
 2022-10-24  64.059998

 [1463 rows x 1 columns],                     BR
 Date
 2017-03-01   65.930000
 2017-04-01   66.370003
 2017-05-01   66.029999
 2017-06-01   66.300003
 2017-09-01   66.150002
 ...                ...
 2022-10-18  145.559998
 2022-10-19  143.500000
 2022-10-20  140.399994
 2022-10-21  140.990005
 2022-10-24  141.039993

 [1463 rows x 1 columns],                   CAG
 Date
 2017-03-01  39.759998
 2017-04-01  39.090000
 2017-05-01  38.950001
 2017-06-01  38.740002
 2017-09-01  38.439999
 ...               ...
 2022-10-18  34.930000
 2022-10-19  34.930000
 2022-10-20  34.360001
 2022-10-21  34.689999
 2022-10-24  34.915001

 [1463 rows x 1 columns],                   CAH
 Date
 2017-03-01  74.480003
 2017-04-01  75.629997
 2017-05-01  74.500000
 2017-06-01  75.330002
 2017-09-01  74.760002
 ...               ...
 2022-10-18  70.660004
 2022-10-19  70.800003
 2022-10-20  70.769997
 2022-10-21  73.029999
 2022-10-24  73.580002

 [1463 rows x 1 columns],                  BSHI
 Date
 2017-03-01  13.250000
 2017-04-01  13.250000
 2017-05-01  13.250000
 2017-06-01  13.250000
 2017-09-01  13.250000
 ...               ...
 2022-10-17  18.950001
 2022-10-18  18.950001
 2022-10-19  18.950001
 2022-10-20  18.950001
 2022-10-21  18.950001

 [1462 rows x 1 columns],                    AWK
 Date
 2017-03-01   72.250000
 2017-04-01   72.809998
 2017-05-01   72.930000
 2017-06-01   72.839996
 2017-09-01   71.349998
 ...                ...
 2022-10-18  134.770004
 2022-10-19  134.000000
 2022-10-20  129.929993
 2022-10-21  132.759995
 2022-10-24  135.145004

 [1463 rows x 1 columns],                   BEN
 Date
 2017-03-01  40.439999
 2017-04-01  41.349998
 2017-05-01  40.730000
 2017-06-01  40.750000
 2017-09-01  40.310001
 ...               ...
 2022-10-18  22.520000
 2022-10-19  22.250000
 2022-10-20  21.740000
 2022-10-21  22.530001
 2022-10-24  22.830000

 [1463 rows x 1 columns],                    BXP
 Date
 2017-03-01  127.180000
 2017-04-01  131.220001
 2017-05-01  131.850006
 2017-06-01  131.550003
 2017-09-01  130.240005
 ...                ...
 2022-10-18   74.400002
 2022-10-19   71.820000
 2022-10-20   72.300003
 2022-10-21   72.500000
 2022-10-24   72.699997

 [1463 rows x 1 columns],                   BAX
 Date
 2017-03-01  44.439999
 2017-04-01  44.750000
 2017-05-01  45.049999
 2017-06-01  45.520000
 2017-09-01  46.169998
 ...               ...
 2022-10-18  55.599998
 2022-10-19  55.320000
 2022-10-20  55.000000
 2022-10-21  56.430000
 2022-10-24  56.759998

 [1463 rows x 1 columns],                     CB
 Date
 2017-03-01  131.710007
 2017-04-01  131.520004
 2017-05-01  130.630005
 2017-06-01  131.330002
 2017-09-01  130.509995
 ...                ...
 2022-10-18  194.649994
 2022-10-19  195.979996
 2022-10-20  192.210007
 2022-10-21  197.789993
 2022-10-24  203.179993

 [1463 rows x 1 columns],                    AVB
 Date
 2017-03-01  176.619995
 2017-04-01  177.350006
 2017-05-01  178.429993
 2017-06-01  180.000000
 2017-09-01  177.220001
 ...                ...
 2022-10-18  177.759995
 2022-10-19  173.350006
 2022-10-20  172.029999
 2022-10-21  174.889999
 2022-10-24  174.619995

 [1463 rows x 1 columns],             BMRA
 Date
 2017-03-01  2.16
 2017-04-01  2.17
 2017-05-01  2.15
 2017-06-01  2.38
 2017-09-01  2.45
 ...          ...
 2022-10-18  3.67
 2022-10-19  3.58
 2022-10-20  3.30
 2022-10-21  3.13
 2022-10-24  3.03

 [1463 rows x 1 columns],                   BMY
 Date
 2017-03-01  59.450001
 2017-04-01  59.139999
 2017-05-01  60.130001
 2017-06-01  59.950001
 2017-09-01  59.730000
 ...               ...
 2022-10-18  71.739998
 2022-10-19  71.139999
 2022-10-20  70.349998
 2022-10-21  72.209999
 2022-10-24  73.220001

 [1463 rows x 1 columns],                   BAC
 Date
 2017-03-01  22.530001
 2017-04-01  22.950001
 2017-05-01  22.680000
 2017-06-01  22.680000
 2017-09-01  22.549999
 ...               ...
 2022-10-18  34.880001
 2022-10-19  33.919998
 2022-10-20  33.700001
 2022-10-21  34.950001
 2022-10-24  34.980000

 [1463 rows x 1 columns],                    CCI
 Date
 2017-03-01   86.800003
 2017-04-01   87.320000
 2017-05-01   87.239998
 2017-06-01   85.500000
 2017-09-01   85.730003
 ...                ...
 2022-10-18  133.380005
 2022-10-19  130.699997
 2022-10-20  126.800003
 2022-10-21  123.589996
 2022-10-24  123.000000

 [1463 rows x 1 columns],               BHI
 Date
 2018-08-28  0.063
 2018-08-29  0.062
 2018-08-30  0.062
 2018-08-31  0.062
 2018-04-09  0.062
 ...           ...
 2022-10-18    NaN
 2022-10-19    NaN
 2022-10-20    NaN
 2022-10-21    NaN
 2022-10-24    NaN

 [1047 rows x 1 columns],                    BK
 Date
 2017-03-01  47.959999
 2017-04-01  48.709999
 2017-05-01  48.090000
 2017-06-01  48.169998
 2017-09-01  47.639999
 ...               ...
 2022-10-18  39.959999
 2022-10-19  39.020000
 2022-10-20  38.419998
 2022-10-21  40.230000
 2022-10-24  40.810001

 [1463 rows x 1 columns],                    BRK-A
 Date
 2017-03-01  245850.00000
 2017-04-01  246600.00000
 2017-05-01  244852.00000
 2017-06-01  245394.00000
 2017-09-01  243111.00000
 ...                  ...
 2022-10-18  428465.00000
 2022-10-19  421610.00000
 2022-10-20  413950.00000
 2022-10-21  427170.00000
 2022-10-24  434560.28125

 [1463 rows x 1 columns],                    AVY
 Date
 2017-03-01   70.139999
 2017-04-01   72.139999
 2017-05-01   71.430000
 2017-06-01   72.400002
 2017-09-01   72.559998
 ...                ...
 2022-10-18  173.190002
 2022-10-19  171.270004
 2022-10-20  168.720001

In [7]:
gr = pd.concat(l,join = 'outer', ignore_index = False, axis =1)

In [8]:
gr

,A,AAPL,AAP,AAL,AME,AKAM,ADM,ABT,APH,ABBV,...,WRK,WST,ZTS,WM,XOM,YUM,WY,ZION,VTR,WAT
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-02,49.259998,32.187500,160.589996,44.049999,51.090000,68.699997,43.770000,42.330002,33.299999,60.889999,...,53.209999,84.500000,55.320000,69.180000,82.940002,64.870003,31.110001,42.459999,60.639999,145.729996
2017-01-03,52.040001,34.947498,156.679993,47.090000,55.259998,63.380001,46.509998,45.590000,35.439999,62.830002,...,54.560001,84.440002,53.889999,73.370003,83.019997,65.570000,34.070000,46.529999,64.209999,155.830002
2017-01-05,55.799999,36.645000,140.529999,42.080002,57.590000,61.480000,45.730000,43.480000,35.945000,66.480003,...,54.110001,93.199997,56.279999,73.010002,82.059998,65.750000,33.580002,40.520000,63.970001,173.050003
2017-01-06,60.730000,38.294998,137.100006,49.049999,61.509998,48.299999,41.820000,46.099998,37.564999,66.709999,...,55.270000,98.889999,62.639999,73.459999,80.699997,73.830002,33.509998,40.549999,66.870003,181.009995
2017-01-08,59.939999,37.512501,114.050003,51.060001,61.619999,47.529999,43.299999,49.150002,38.689999,70.379997,...,57.770000,87.800003,62.270000,75.220001,80.169998,75.529999,33.220001,45.380001,66.000000,175.740005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-05,116.129997,142.559998,208.899994,15.490000,120.410004,97.400002,84.440002,107.970001,68.629997,154.289993,...,47.459999,295.989990,163.080002,155.479996,86.300003,110.510002,38.220001,53.480000,53.590000,313.950012
2022-12-07,119.239998,145.860001,183.839996,14.770000,110.260002,89.330002,72.849998,108.300003,64.379997,152.460007,...,40.500000,296.769989,173.809998,151.029999,84.500000,115.830002,34.610001,50.200001,51.360001,341.410004
2022-12-08,133.550003,172.100006,202.529999,15.250000,129.309998,95.949997,86.599998,111.480003,79.480003,142.600006,...,42.860001,340.980011,175.669998,171.740005,94.000000,118.160004,36.889999,58.220001,52.459999,335.230011
2022-12-09,139.869995,163.429993,181.490005,14.470000,126.830002,93.110001,88.209999,109.290001,76.400002,142.240005,...,41.410000,312.869995,166.350006,173.710007,97.610001,117.260002,34.560001,58.619999,50.490002,316.019989
2022-12-10,125.690002,138.339996,169.320007,12.700000,113.989998,78.410004,86.029999,100.080002,67.150002,139.979996,...,31.180000,239.119995,145.860001,154.350006,98.430000,105.540001,29.389999,48.439999,36.540001,270.720001

In [9]:
gr.to_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/processedData.csv")

In [10]:
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/processedData.csv")

In [11]:
df.dropna( axis=1)

,Date,A,AAPL,AAP,AAL,AME,AKAM,ADM,ABT,APH,...,WRK,WST,ZTS,WM,XOM,YUM,WY,ZION,VTR,WAT
0,2017-01-02,49.259998,32.187500,160.589996,44.049999,51.090000,68.699997,43.770000,42.330002,33.299999,...,53.209999,84.500000,55.320000,69.180000,82.940002,64.870003,31.110001,42.459999,60.639999,145.729996
1,2017-01-03,52.040001,34.947498,156.679993,47.090000,55.259998,63.380001,46.509998,45.590000,35.439999,...,54.560001,84.440002,53.889999,73.370003,83.019997,65.570000,34.070000,46.529999,64.209999,155.830002
2,2017-01-05,55.799999,36.645000,140.529999,42.080002,57.590000,61.480000,45.730000,43.480000,35.945000,...,54.110001,93.199997,56.279999,73.010002,82.059998,65.750000,33.580002,40.520000,63.970001,173.050003
3,2017-01-06,60.730000,38.294998,137.100006,49.049999,61.509998,48.299999,41.820000,46.099998,37.564999,...,55.270000,98.889999,62.639999,73.459999,80.699997,73.830002,33.509998,40.549999,66.870003,181.009995
4,2017-01-08,59.939999,37.512501,114.050003,51.060001,61.619999,47.529999,43.299999,49.150002,38.689999,...,57.770000,87.800003,62.270000,75.220001,80.169998,75.529999,33.220001,45.380001,66.000000,175.740005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,2022-12-05,116.129997,142.559998,208.899994,15.490000,120.410004,97.400002,84.440002,107.970001,68.629997,...,47.459999,295.989990,163.080002,155.479996,86.300003,110.510002,38.220001,53.480000,53.590000,313.950012
1459,2022-12-07,119.239998,145.860001,183.839996,14.770000,110.260002,89.330002,72.849998,108.300003,64.379997,...,40.500000,296.769989,173.809998,151.029999,84.500000,115.830002,34.610001,50.200001,51.360001,341.410004
1460,2022-12-08,133.550003,172.100006,202.529999,15.250000,129.309998,95.949997,86.599998,111.480003,79.480003,...,42.860001,340.980011,175.669998,171.740005,94.000000,118.160004,36.889999,58.220001,52.459999,335.230011
1461,2022-12-09,139.869995,163.429993,181.490005,14.470000,126.830002,93.110001,88.209999,109.290001,76.400002,...,41.410000,312.869995,166.350006,173.710007,97.610001,117.260002,34.560001,58.619999,50.490002,316.019989
1462,2022-12-10,125.690002,138.339996,169.320007,12.700000,113.989998,78.410004,86.029999,100.080002,67.150002,...,31.180000,239.119995,145.860001,154.350006,98.430000,105.540001,29.389999,48.439999,36.540001,270.720001

In [16]:
df["Date"].size

2799

In [60]:
futures = []
# copper 
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/Copper Futures Historical Data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df2 = df[(df['Date'] > "2017-01-01")]
df2 = df2[["Date","Price"]]
df2.rename(columns= {"Price":"Copper"}, inplace= True)
df2.set_index('Date', inplace = True)
print(df2.size)

df2['Copper'].fillna(method = 'ffill', inplace = True)
futures.append(df2)

1533

In [55]:

# futures_df = pd.concat([df["Date"],df2],join = 'outer', ignore_index = False, axis =0)

# df2 = df2.join(df,how="outer",on="Date")

df2 = df2.merge(df["Date"],how="outer")

print(df2.size)
# print(futures_df.size)
df2.head()

MergeError: ignored

In [30]:
print(futures_df.size)
futures_df.head()

8664

           0  Copper
0 2022-11-16     NaN
1 2022-11-15     NaN
2 2022-11-14     NaN
3 2022-11-11     NaN
4 2022-11-10     NaN

In [ ]:
# palladium
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/Palladium Futures Historical Data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df2 = df[(df['Date'] > "2017-01-01")]
df2 = df2[["Date","Price"]]
df2.rename(columns= {"Price":"palladium"}, inplace= True)
df2.set_index('Date', inplace = True)
df2['palladium'].fillna(method = 'ffill', inplace = True)
futures.append(df2)

In [ ]:
df2.head()

           palladium
Date
2022-11-16  2,083.52
2022-11-15  2,078.30
2022-11-14  2,039.50
2022-11-11  2,041.28
2022-11-10  1,959.00

In [ ]:
# crude_oil
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/Crude Oil WTI Futures Historical Data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df2 = df[(df['Date'] > "2017-01-01")]
df2 = df2[["Date","Price"]]
df2.rename(columns= {"Price":"crude_oil"}, inplace= True)
df2.set_index('Date', inplace = True)
df2['crude_oil'].fillna(method = 'ffill', inplace = True)
futures.append(df2)

In [ ]:
# Gold Futures Historical Data
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/Gold Futures Historical Data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df2 = df[(df['Date'] > "2017-01-01")]
df2 = df2[["Date","Price"]]
df2.rename(columns= {"Price":"Gold"}, inplace= True)
df2.set_index('Date', inplace = True)
df2['Gold'].fillna(method = 'ffill', inplace = True)
futures.append(df2)

In [ ]:
#Platinum Futures Historical Data
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/Platinum Futures Historical Data.csv")
df['Date'] = pd.to_datetime(df['Date'])
df2 = df[(df['Date'] > "2017-01-01")]
df2 = df2[["Date","Price"]]
df2.rename(columns= {"Price":"Platinum"}, inplace= True)
df2.set_index('Date', inplace = True)
df2['Platinum'].fillna(method = 'ffill', inplace = True)
futures.append(df2)

In [ ]:
futures_df = pd.DataFrame
futures_df = pd.concat(futures,join = 'outer', ignore_index = False, axis =1)
futures_df.fillna(method = 'bfill', inplace = True)

In [ ]:
futures_df.head()

            Copper palladium  crude_oil      Gold Platinum
Date
2017-01-02  2.4890    684.95      54.03  1,163.20    906.6
2017-01-03  2.4890     710.4      52.33  1,163.20    930.2
2017-01-04  2.5565       739      53.26  1,166.50   947.75
2017-01-05  2.5375    738.35      53.76  1,182.60    974.1
2017-01-06  2.5460    758.55      53.99  1,174.80   972.85

In [ ]:
futures_df.to_csv("/content/gdrive/MyDrive/Colab Notebooks/AI/sp500/others/processedFutures.csv")